<?xml version="1.0"?>
<launch>

    <!-- start lego
    <include file="$(find lego_inventor)/launch/robot.launch">
    </include> -->

    <!-- start user detection node -->
    <include file="$(find oak)/launch/start_user_interaction.launch">
    </include>
    
    <!-- start object detection node -->
    <include file="$(find oak)/launch/start_object_detection.launch">
    </include>
    
    <!-- Show in Rviz -->
    <node name="rviz_javi" pkg="rviz" type="rviz" args="-d $(find oak)/rviz/oak_complete.rviz" launch-prefix="xterm -e"/> 

</launch>

